language: node_js
sudo: false
cache:
  apt: true
  directories:
  - node_modules
node_js:
- "7"
- "6"
- "4"
- "0.12"
- "0.10"
script:
# eslint does not work on older node
- if [ "${TRAVIS_NODE_VERSION}" -ge 4 ]; then npm run lint; fi
# Jest does not work on older node
- if [ "${TRAVIS_NODE_VERSION}" -ge 4 ]; then npm run test; fi
- if [ "${TRAVIS_NODE_VERSION}" -gt 4 ]; then node src/playground.js; fi
- if [ "${TRAVIS_NODE_VERSION}" -le 4 ]; then npm run build && node lib/playground.js; fi
